# ide files (eclipse, intellij...)
.idea/
out/
bin/
.project
.classpath
.bin
.settings/
.metadata
*.iml

# don't commit jre fatal errors
hs_err_pid*.log

# log files
rapport/
!rapport/rapport.tex

# javadoc files
doc/

# generated jar files
build/

# tests files

result.txt